<form>
  <fieldset>
    <label for="zip">Zip Code</label>
    <input type="text" id="zip" />
    
    <label for="num_records">Limit Results</label>
    <select id="num_records">
      <option selected="yes">10 Facilities</option>
      <option>20 Facilities</option>
      <option>30 Facilities</option>
    </select>
    <input type="submit" />
    </fieldset>
</form>  
  
  
<%=render(:partial => "map")%>
  