<%= content_for :header do %>

<div id="intro">

	<div id="quickSummary">
		<p class="p1"><span>Should be visible</span></p>
	</div>

	<div id="preamble">
		<h3><span>The Road to Enlightenment</span></h3>
		<p class="p1">
		  <span>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </span>
		</p>
	</div>

</div>
	
<div id="supportingText">

	<div id="requirements">
		<h3><span>Requirements</span></h3>
		<p class="p1"><span>Paragraph 1</span></p>
	</div>

	<div id="footer">
		<a href="http://validator.w3.org/check/referer" title="Check the validity of this site&#8217;s XHTML">xhtml</a> &nbsp; 
	</div>
	
</div>


<div id="linkList">

	<div id="lselect">
		<h3 class="select"><span>Select a Design:</span></h3>
		<ul>
			<li><a href="#" title="AccessKey: a" accesskey="a">Link 1</a> by <a href="#" class="c">Sub Link</a></li>
		</ul>
	</div>

	<div id="lresources">
		<h3 class="resources"><span>Resources:</span></h3>
		<ul>
			<li><a href="#" title="Send in your own CSS file. AccessKey: s" accesskey="s"><span class="accesskey">W</span>eird Linking Style</a></li>
		</ul>
	</div>

</div>


<% end %>
