<%= content_for :main do %>
<div id="mainText">

	<h3><span>Requirements</span></h3>
	<p class="p1"><span>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </span></p>
</div>

<% end %>


<%= content_for :links do %>
<div id="linkList">
	<div id="lselect">
		<h3 class="select"><span>Projects:</span></h3>
		<ul>
			<li><a href="/nhs" title="AccessKey: n" accesskey="n">Nursing Home Compare</a> A Long Term Care<br />Discovery System</li>
		</ul>
	</div>

	<div id="lresources">
		<h3 class="resources"><span>Resources:</span></h3>
		<ul>
			<li><a href="http://www.csszengarden.com/001/001.css" title="View the source CSS file for the currently-viewed design, AccessKey: v" accesskey="v"><span class="accesskey">V</span>iew This Design&#8217;s <acronym title="Cascading Style Sheets">CSS</acronym></a></li>
		</ul>
	</div>

</div>
<% end %>
