<%= content_for :main do %>
  <section id="abstract">
  	<h3><span>Abstract</span></h3>
  	<p class="p1"><span>Erudatum is a company devoted to data science.  Data science requires a diverse skill set and hopefully you will find examples of our skills in these areas in the linked projects.</span></p>
  </section>


  <div id="projects">
  	<h3 class="select"><span>Projects:</span></h3>
  	<ul>
  		<li><a href="/nhs" title="AccessKey: n" accesskey="n">Nursing Home Compare</a> A Long Term Care<br />Discovery System</li>
  	</ul>
  </div>

<% end %>
